# Categoría: Ciencia de datos y análisis:
altair==4.2.2
matplotlib==3.7.1
numpy==1.24.1
pandas==1.5.3
plotly==5.14.1
pyarrow==12.0.1
scipy==1.10.1
toolz==0.12.0

# Categoría: Aprendizaje automático y equilibrio de clases:
imbalanced-learn==0.10.1
joblib==1.2.0
scikit-learn==1.2.2
xgboost==1.7.4

# Categoría: Web y servicios:
Flask==2.2.5
gunicorn==20.1.0
streamlit==1.24.0
Werkzeug==2.2.3
google-api-core==2.11.0
google-auth==2.20.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
requests==2.28.1

# Categoría: Manipulación de archivos y formatos:
openpyxl==3.1.2
pytz==2023.3
pydeck==0.8.1b0
pyrsistent==0.19.3
attrs==23.1.0
et-xmlfile==1.1.0
fonttools==4.40.0
graphviz==0.20.1
Markdown-it-py==3.0.0
nbformat==5.4.0
rich==13.4.2